.table {
  margin-top: 10px;
}

.stepContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 80%;
}

.progressItem {
  position: relative;
  width: 47%;
  display: flex;
  align-items: center;
}

.progressItemLast {
  position: relative;
  width: 6%;
  display: flex;
  align-items: center;
}

.progressLine {
  width: 100%;
  height: 4px;
  position: absolute;
}

.stepDotRing {
  display: grid;
  place-items: center;
  height: 33px;
  width: 33px;
  border-radius: 50%;
  background-color: #e6eae5;
  z-index: 1;
}

.stepDot {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #3eb919;
  z-index: 1;
  border: 5px solid white;
}

.stepDotActive {
  height: 23px;
  width: 23px;
  border-radius: 50%;
  background-color: #f8f8f8;
  z-index: 1;
  border: 5px solid #f8f8f8;
}
