.container {
  max-width: 1920px;
  height: 100vh;
  display: grid;
  place-items: center;
}

.box {
  width: 550px;
  display: flex;
  gap: 50px;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: -50px;
}

.logo {
  height: 120px;
}

.forgottPassword {
  float: right;
  font-size: 12px;
  margin-top: 4px !important;
}

.submitBtn {
  display: flex;
  align-items: center;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin-top: -5px;
}

.sectionTwo {
  display: flex;
  width: 90%;
}

.sectionTwo p {
  text-align: center;
  margin-top: -3px;
  margin-bottom: 0px;
}

@media only screen and (max-width: 1500px) {
  .box {
    width: 390px;
    gap: 45px;
  }
}
