.contain {
  width: 85%;
  margin: 10px auto;
}

.sideBar {
  width: 7%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3ab44d;
  transition: all 300ms linear;
  gap: 15%;
}

.sideBarOpen {
  width: 12.5%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #3ab44d;
  transition: all 300ms linear;
  gap: 12%;
}

.logo {
  height: 40px;
  margin-top: 40px;
}

.links {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 50%;
  justify-content: space-between;
  margin-top: -50px;
}

.linksOpen {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 50%;
  justify-content: space-between;
  margin-top: -50px;
}

.linkItem {
  font-weight: 300;
  color: #fff;
}

.linkItem p {
  margin-left: 12px;
}

.linkItem:hover {
  color: #fff;
}

.sidebarIcon {
  height: 22px;
}

.sidebarIconActive {
  height: 40px;
}

.sidebarIconActiveOpen {
  height: 40px;
  margin-left: -10px;
}

.linkItemActive {
  font-weight: 600;
  color: white;
}

.linkItemActive:hover {
  color: white;
}

.linkItemActive .sidebarIcon {
  display: none;
}

.linkItem .sidebarIconActive {
  display: none;
}

.linkItem .sidebarIconActiveOpen {
  display: none;
}

@media only screen and (max-width: 1100px) {
  .container {
    padding: 0% 5% 1% 5%;
    display: flex;
  }
  .formContainer {
    width: 90%;
  }
}

@media only screen and (max-width: 1000px) {
  .container {
    height: 100vh;
    padding: 0%;
  }
}
