.table {
  margin-top: 10px;
}

.pinkRound {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e00a65;
}

.greenRound {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
}

.voiletRound {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: violet;
}

.borderBottom {
  border-bottom: 0.5px solid rgb(189, 187, 187);
  padding-bottom: 5px;
  margin-bottom: 5px;
  width: 80%;
}
