.table {
  margin-top: 10px;
}

.pinkRound {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #e00a65;
}

.greenRound {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: green;
}

.voiletRound {
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: violet;
}

.dropdownMarginLine {
  display: flex;
  align-items: center;
  gap: 5px;
}
